################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

*.suo
*.sqlite

obj
bin
App

src/Rstudio/Rstudio/assembly/

packages/
node_modules
*.lock
*.ide
*.ide-shm
*.ide-wal
*.sqlite-journal
/R#/demo/kegg/KEGG_maps.zip
R#/demo/cytoscape/automation/result.cys
R#/demo/cngb/bacterials.csv
.vs/GCModeller/FileContentIndex/c4ab4579-dc8e-4319-a14c-32212f1d5ebb.vsidx
.vs/GCModeller/FileContentIndex/3fd45842-c982-45e9-971c-6c30ab1950c2.vsidx
*.vsidx
*.v2
*.v5
GCModeller/GCModeller.vbproj.user
src/GCModeller/GCModeller.vbproj.user

/Apps/
*.bin
install_pkg/Setup Files/win32_desktop.exe
install_pkg/Setup Files/win32_desktop.msi
*.cab
*.exe
*.msi
src/typescripts/build/biocad_desktop.js
src/typescripts/build/biocad_desktop.js.map
src/typescripts/build/linq.js
src/typescripts/build/linq.js.map
*.2
src/typescripts/build/sampleinfo_editor.js
src/Rstudio/Rstudio/REnv.zip
src/Rstudio/EC_numbers.fasta
demo/ncbi_dataset/GCF_000005845/eco.bioproj
src/Rstudio/workflow/sabio-rk.db
src/Rstudio/sabio-rk.db
web/.vs/web/v17/.wsuo
src/Rstudio/Rserver_0.1.0.zip
