.container {
    margin-top: 30px;
    margin-bottom: 60px;
    position: relative;
    height: 100%;
}

/* Styles required only for the example above */
.scrollspy-collapsible {
    position: relative;
    height: 200px;
    overflow: auto;
}

/* Styles required only for the example above */
.scrollspy-example {
    position: relative;
    height: 100%;
    overflow: hidden;
}